<h1>Are you sure you would like to delete $animal.getName()?</h1>

<form method="post" action="/animal/$animal.getId()/delete">
  <button class="btn btn-success" type="submit">Yes</button>
  <a href="/"><button class="btn btn-primary">No, go back</button></a>
</form>